footer {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;

    h2 {
        font-family: 'unisans';
        font-style: normal;
        font-weight: 900;
        font-size: 70px;
        line-height: 130%;
        /* identical to box height, or 91px */

        letter-spacing: -0.05em;
        padding: 23px 0 23px 0;
    }

    .footer-items {
        display: flex;
        align-items: center;
        gap: 155px;

        .icons2 {
            display: none;
            display: flex;
            gap: 23px;
            align-items: center;

            p {
                &:hover {
                    color: #2563EB;
                }
            }
        }

        h3 {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 28px;
            letter-spacing: -0.2px;
            padding: 0 0 30px 0;
        }

        p {
            font-family: 'Poppins';
            padding: 0 0 30px 0;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color: #E4E4E7;
        }
    }

    p {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #A1A1AA;
    }

    .copyright {
        display: flex;
        padding: 70px 0 39px 0;
        justify-content: space-between;
        align-items: center;

        .icons {
            display: flex;
            gap: 23px;
            align-items: center;

            p {
                &:hover {
                    color: #2563EB;
                }
            }
        }
    }
}
.mob-menu{
    display: none;
}

@media screen and (max-width: 425px) {
    .footer-items {
        display: none !important;
    }

    .icons {
        display: none !important;

    }

    .mob {
        display: flex;
        justify-content: space-between;

    }

    .icons5 {
        display: flex;
        gap: 23px;
        align-items: center;


        p {
            &:hover {
                color: #2563EB;
            }
        }
    }

    .mob-menu {
        gap: 20px;
        display: block;
    }

    .menu-p {
        padding: 15px 0 0 0;
        color: #E4E4E7;
    }

    .copyright {
        p {
            font-size: 10px;

        }
    }

}